*{
    margin: 0;
    padding: 0;
}
/* shared style */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.common-btn{
    border: none;
    border-radius: 5px;
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
}

/* main style */

header{
    padding: 16px 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1300px;
}

nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}