* {
    margin: 0;
    padding: 0;
}

/* shared style */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.color {
    color: #30B868;
}

.p-weight{
    font-weight: 400;
    color: #667788;
}

.common-flex{
    display: flex;
    align-items: center;
    gap: 5px;
}


.common-btn {
    border: none;
    border-radius: 5px;
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
}

/* main style */

.nav-header {
    padding: 16px 0px;
}


/* navigation style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1300px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
}

/* banner section style */
.banner-bg {
    background: url(/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 115px 120px 180px 120px;
    text-align: center;
}

.banner-btn {
    display: flex;
    gap: 5px;
    margin: 0 auto;
    padding: 8px 10px;
    border-radius: 100px;
    border: none;
    font-weight: 500;
}

.btn-container {
    margin-top: 30px;
}

.banner-p {
    line-height: 30px;
    color: white;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}



.banner-play-btn {
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    padding: 12px 16px;
}

.banner-bg h2 {
    font-size: 72px;
    color: white;
}


/* card section */

.card-section{
    background-color: #FBFBFB;
    text-align: center;
    padding-top: 50px;
}

.card-section img{
    margin-bottom: 10px;
    background-color: #F95555;
    padding: 8px;
    border-radius: 100%;
}

.card-section h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}


.card-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 45px;
}

.cards{
    width: 320px;
    padding-top: 60px;
    background-color: white;
    border-radius: 10px;
}

.cards h3{
    margin-bottom: 10px;
}